.checkout{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    background-color: white;
    height: max-content;
}

.checkout__ad{
    width: 100%;
    margin: bottom 10px;
}

.checkout__title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.checkout__right{
    max-width: 30%;
    flex:0.3;
    margin-right: 10px;
    padding-right: 5px;
}
.checkout__left{
    border-right:1px ridge lightgray;
    margin-right: 10px;
    padding-right: 5px;
    max-width: 70%;
    flex:0.7;
}
.checkout__left > div > h3{
    margin-right: 10px;
    padding: 10px 0px 0px 10px;
}